<div class= "container">
    <form action="/reminder" method="POST">
        <h1 class="page-header">Profile picture</h1>
        <label for="profile">Picture Link</label>
        <input type="text" class="form-control" id="profileInput" placeholder="Profile Link" name="profile">
    </form>
</div>