<body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">BCIT 2520 Project</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
        <a class="nav-link" href="/about">About Us</a>
        <a class="nav-link" href="/term">Term of Use</a>
        <a class="nav-link" href="/privacy">Privacy Policy</a>
      </nav>
    </div>
  </header>

  <main class="px-3">
    <h1>Contact</h1>
    <ul>Pleas contact us by Email</ul>
        <li>dgao8@mybcit.ca | Di Gao</li>
        <li>jgavinchuk@my.bcit.ca | Jordan Gavinchuk</a></li>
        <li>mjantsan@my.bcit.ca | Margad Jantsan</a></li>
        <li>rpi.irman@gmail.com | Tama Irman</a></li>
  </main>
</div>


    
  </body>
</html>
